*.tfstate
*.tfstate.backup
*.tfplan
terraform.tfvars

*.tfstate.d/

.terraform/

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.auto.tfvars
*.auto.tfvars.json
*.tfvars

terraform.rc

crash.log

.terraform.lock.hcl
